<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <h2 class="mb-4">Create Domain</h2>
            <form [formGroup]="domainForm">
                <mat-form-field class="w-100">
                    <mat-label>Icon</mat-label>
                    <input matInput type="text" formControlName="icon" autocomplete="off" />
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" autocomplete="off" />
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" autocomplete="off"></textarea>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Enter interest areas</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Enter interests">
                        @for (interest of domainForm.value.interests; track interest) {
                        <mat-chip-row
                            (removed)="remove(interest)"
                            [editable]="true"
                            (edited)="edit(interest, $event)"
                            [aria-description]="'press enter to edit ' + interest">
                            {{ interest }}
                            <button matChipRemove [attr.aria-label]="'remove ' + interest">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                        }
                        <input
                            placeholder="New interest..."
                            [matChipInputFor]="chipGrid"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="true"
                            (matChipInputTokenEnd)="add($event)" />
                    </mat-chip-grid>
                    <mat-hint align="end">Total: {{ domainForm.value.interests?.length }}</mat-hint>
                </mat-form-field>

                <button
                    mat-raised-button
                    type="submit"
                    color="primary"
                    (click)="createDomain()"
                    [disabled]="domainForm.invalid">
                    Create Domain
                </button>
            </form>
        </div>
        <div class="col-md-8">
            <h2 class="mb-4">Domains</h2>
            <mat-list>
                @for (domain of domains; track domain; let index = $index) {
                <mat-list-item>
                    <mat-icon matListItemIcon>{{ domain.icon }}</mat-icon>
                    <div matListItemTitle class="d-flex justify-content-between">
                        <div>{{ domain.name }}</div>
                        <button mat-icon-button (click)="deleteDomain(domain._id, index)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <div matListItemLine>{{ domain.description }}</div>
                </mat-list-item>
                }
            </mat-list>
        </div>
    </div>
</div>
