<div class="container my-4" *ngIf="event">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Register for Event</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="event.image" alt="{{ event.title }}" height="300" />
                <mat-card-content>
                    <h2 class="mb-3">{{ event.title }}</h2>
                    <p><strong>Description:</strong> {{ event.description }}</p>
                    <p><strong>Domain:</strong> {{ getDomainNameById(event.domainId) }}</p>
                    <p><strong>Location:</strong> {{ event.location }}</p>
                    <p><strong>Date:</strong> {{ event.date | date : 'MMM d, y' }}</p>
                    <p><strong>Time:</strong> {{ event.startTime }} - {{ event.endTime }}</p>

                    <div class="mt-4">
                        <h3>Select Your Interests</h3>
                        <mat-selection-list #interestList>
                            <mat-list-option
                                *ngFor="let interest of getDomainInterestsById(event.domainId)"
                                [value]="interest"
                                checkboxPosition="before">
                                {{ interest }}
                            </mat-list-option>
                        </mat-selection-list>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button
                        mat-raised-button
                        color="primary"
                        (click)="registerForEvent(interestList.selectedOptions.selected)">
                        Register
                    </button>
                    <button mat-button routerLink="/">Cancel</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
