<h2>Register</h2>
<form [formGroup]="registerForm" class="d-flex flex-column">
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" name="username" formControlName="username" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" formControlName="password" />
    </mat-form-field>
    <div class="d-flex justify-content-between align-items-center">
        <button mat-raised-button color="primary" type="submit" (click)="register()">Register</button>
        <button type="button" mat-stroked-button routerLink="/auth">Sign In</button>
    </div>
</form>
