<div class="container">
    <div class="d-flex justify-content-between gap-2 mt-3">
        <mat-form-field class="w-50">
            <mat-label>Search</mat-label>
            <mat-icon matIconPrefix color="primary">manage_search</mat-icon>
            <input
                matInput
                type="text"
                [formControl]="searchFilterControl"
                placeholder="Search by name, event, domain and interest..." />
            @if(searchFilterControl.value) {
            <button mat-icon-button matSuffix (click)="resetSearch()">
                <mat-icon color="accent">clear</mat-icon>
            </button>
            }
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="fw-medium text-primary">#</div>
                </th>
                <td
                    mat-cell
                    *matCellDef="let row; let i = index; let even = even"
                    [class]="[even ? 'even-stripes' : 'odd-stripes']">
                    {{ getRowIndex(i) }}
                </td>
            </ng-container>

            <ng-container matColumnDef="updatedAt">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex align-items-center">
                        <mat-icon color="primary">update</mat-icon>
                        <div class="text-primary">{{ 'Updated At' | uppercase }}</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row; let even = even" [class]="[even ? 'even-stripes' : 'odd-stripes']">
                    {{ row.updatedAt | date : 'short' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex align-items-center">
                        <mat-icon color="primary">alternate_email</mat-icon>
                        <div class="text-primary">{{ 'Username' | uppercase }}</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row; let even = even" [class]="[even ? 'even-stripes' : 'odd-stripes']">
                    <div>{{ row.username }}</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="eventTitle">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex align-items-center">
                        <mat-icon color="primary">event</mat-icon>
                        <div class="text-primary">{{ 'Event Title' | uppercase }}</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row; let even = even" [class]="[even ? 'even-stripes' : 'odd-stripes']">
                    <div class="fst-italic">
                        {{ row.eventTitle }}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="domain">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex align-items-center">
                        <mat-icon color="primary">tag</mat-icon>
                        <div class="text-primary">{{ 'Domain' | uppercase }}</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row; let even = even" [class]="[even ? 'even-stripes' : 'odd-stripes']">
                    <div class="fw-medium">{{ row.domainName }}</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="interests">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex align-items-center">
                        <mat-icon color="primary">interests</mat-icon>
                        <div class="text-primary">{{ 'Interests' | uppercase }}</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row; let even = even" [class]="[even ? 'even-stripes' : 'odd-stripes']">
                    {{ row.interests }}
                </td>
            </ng-container>

            <ng-container matColumnDef="configure">
                <th mat-header-cell *matHeaderCellDef>
                    <div class="d-flex align-items-center">
                        <mat-icon color="primary">manage_history</mat-icon>
                        <div class="text-primary">{{ 'Configure' | uppercase }}</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row; let even = even" [class]="[even ? 'even-stripes' : 'odd-stripes']">
                    <button
                        mat-icon-button
                        type="button"
                        color="warn"
                        (click)="deteleRegistration(row._id)"
                        matTooltip="Cancel Registration">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the search text {{ searchFilterControl.value }}</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of registrations"></mat-paginator>
    </div>
</div>
