<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 auth-form-container">
            <div class="auth-form">
                <h2 class="logo">Eventmate</h2>
                <router-outlet />
            </div>
        </div>
        <div class="col-md-6 auth-content-container">
            <div class="auth-content">
                <h2>Discover, Connect, and Attend Events with Eventmate</h2>
                <p>
                    Welcome to Eventmate, your gateway to a world of exciting events and meaningful connections. Whether
                    you're passionate about technology, arts, sports, or any other domain, Eventmate is here to help you
                    find and attend events that match your interests.
                </p>
                <p>With Eventmate, you can:</p>
                <ul>
                    <li>Browse a curated list of events across various domains</li>
                    <li>View detailed information about each event, including date, time, location, and description</li>
                    <li>Select your interests and get personalized event recommendations</li>
                    <li>Register for events with just a few clicks</li>
                    <li>Connect with like-minded individuals and expand your network</li>
                </ul>
                <p>
                    Join our vibrant community of event enthusiasts and embark on a journey of discovery, learning, and
                    fun. Sign up now and let Eventmate be your companion in exploring the world of events!
                </p>
            </div>
        </div>
    </div>
</div> -->

<div class="row h-100 w-100">
    <div class="col-lg-7 bg-auth h-100 d-flex align-items-center p-4">
        <div class="d-flex align-items-center flex-column p-4">
            <div class="mat-headline-1 p-4">
                <span class="text-light"> Discover, Connect, and Attend Events with </span>
                <span class="text-warning">Eventmate</span>
            </div>
        </div>
    </div>
    <div class="col-lg-5 d-flex align-items-center justify-content-center">
        <mat-card>
            <mat-card-content>
                <router-outlet />
            </mat-card-content>
        </mat-card>
    </div>
</div>
