<div class="container my-4">
    <h2 class="mb-4">Upcoming Events</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col" *ngFor="let event of events">
            <mat-card class="h-100">
                <img mat-card-image [src]="event.image" alt="Event Image" class="event-image" />
                <mat-card-content>
                    <h3 class="mb-2">{{ event.title }}</h3>
                    <p class="text-muted">
                        {{ event.date | date : 'MMM d, y' }} | {{ event.startTime }} - {{ event.endTime }}
                    </p>
                    <p><strong>Domain:</strong> {{ getDomainNameById(event.domainId) }}</p>
                    <p><strong>Location:</strong> {{ event.location }}</p>
                    <p>{{ event.description }}</p>
                    <p><strong>Attendees:</strong> {{ event.attendees.length }}</p>
                </mat-card-content>
                @if(currentUser) {
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="registerEvent(event._id)">Register</button>
                </mat-card-actions>
                }
            </mat-card>
        </div>
    </div>

    <div class="text-center mt-4" *ngIf="events.length === 0">
        <p>No events found.</p>
    </div>
</div>
