<mat-toolbar color="primary" class="mat-elevation-z4">
    <a routerLink="">
        <img src="../../../../assets/images/app-logo.png" alt="logo" height="34" />
    </a>

    <span class="flex-grow-1 ms-2"></span>
    <button mat-button routerLink="/events">Events</button>
    @if(currentUser) {
    <button mat-button routerLink="/domains">Domains</button>
    <button mat-button [routerLink]="['/users', currentUser._id]">Profile</button>
    <button mat-stroked-button color="accent" (click)="onSignout()">Logout</button>
    } @else {
    <button mat-stroked-button color="accent" routerLink="/auth">Login</button>
    }

    <!-- <span class="ms-flex ms-auto">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/logout">Logout</button>
        </mat-menu>
    </span> -->
</mat-toolbar>
