<h2>Sign Up</h2>
<form [formGroup]="signUpForm" class="d-flex flex-column gap-2">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <mat-icon matIconPrefix>mail</mat-icon>
        <input matInput type="email" name="email" formControlName="email" autocomplete="off" />
        <mat-error>
            @if(controls.email.hasError('required')){ This is a required field } @else { Please enter a valid email }
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Username</mat-label>
        <mat-icon matIconPrefix>alternate_email</mat-icon>
        <input matInput type="text" name="username" formControlName="username" autocomplete="off" />
        <mat-error>This is a required field</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <mat-icon matIconPrefix>pin</mat-icon>
        <input
            matInput
            name="password"
            autocomplete="off"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'" />
        <button matSuffix mat-icon-button (click)="showPassword = !showPassword">
            <mat-icon> @if(showPassword){ visibility } @else { visibility_off } </mat-icon>
        </button>
        <mat-error>
            @if(controls.password.hasError('minlength')) { Password should have more than
            {{ controls.password.getError('minlength').requiredLength }} characters } @else { This is a required field }
        </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="isAdmin" color="primary">
        <span class="fw-medium">Is Admin?</span>
    </mat-checkbox>

    <div class="d-flex justify-content-between align-items-center">
        <button mat-raised-button color="primary" type="submit" (click)="signUp()" [disabled]="signUpForm.invalid">
            Sign Up
        </button>
        <button type="button" mat-stroked-button routerLink="/auth">Sign In</button>
    </div>
</form>
