@if(currentUser){
<div class="my-4"></div>
<div class="row">
    <div class="col-lg-4">
        <div class="d-flex flex-column gap-4">
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle class="text-primary mat-headline-6">PROFILE INFORMATION</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex flex-column w-75">
                        <label for="username" class="mat-subtitle-2 text-primary">USERNAME</label>
                        <input
                            class="form-control"
                            id="username"
                            type="text"
                            [(ngModel)]="currentUser.username"
                            disabled />
                        <div class="my-1"></div>
                        <label for="email" class="mat-subtitle-2 text-primary">EMAIL</label>
                        <input type="text" id="email" class="form-control" [(ngModel)]="currentUser.email" disabled />
                    </div>
                </mat-card-content>
                <!-- <mat-card-actions align="end">
                    <button mat-button color="accent">UPDATE</button>
                </mat-card-actions> -->
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle class="text-primary mat-headline-6">COMPLETED EVENTS</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <ul class="list-group">
                        @for (completedEvent of completedEvents; track $index) {
                        <li class="list-group-item d-flex flex-column">
                            <div class="mat-subtitle-2 text-primary">{{ completedEvent.title | uppercase }}</div>
                            <div class="d-flex flex-column gap-2 p-2">
                                @if (hasUserGivenFeedback(completedEvent._id)) {
                                <div class="d-flex align-items-center">
                                    <mat-icon color="primary">{{
                                        getEventRatingIcon(getUserFeedback(completedEvent._id)!.rating)
                                    }}</mat-icon>
                                    <mat-icon color="primary">grade</mat-icon>
                                </div>
                                <div class="d-flex align-items-center">
                                    <mat-icon color="primary">event_note</mat-icon>
                                    <div class="mat-body-2 fw-medium">
                                        {{
                                            getUserFeedback(completedEvent._id)!.comment
                                                ? getUserFeedback(completedEvent._id)!.comment
                                                : 'No comment provided'
                                        }}
                                    </div>
                                </div>
                                } @else {
                                <div class="d-flex">
                                    <button
                                        mat-raised-button
                                        type="button"
                                        color="accent"
                                        class="d-flex align-items-center"
                                        (click)="openFeedbackDialog(completedEvent)">
                                        <mat-icon>edit_note</mat-icon>
                                        Add Feedback
                                    </button>
                                </div>
                                }
                            </div>
                        </li>
                        } @empty {
                        <div class="alert alert-warning d-flex align-items-center gap-2" role="alert">
                            <mat-icon>error</mat-icon>
                            <div class="mat-body-2">No completed events yet!</div>
                        </div>
                        }
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="col-lg-8">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle class="text-primary mat-headline-6">REGISTRATIONS</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="my-2">
                <mat-accordion>
                    @for (registration of registrations; track registration._id; let index = $index) {
                    @if(getEvent(registration.eventId); as event) {
                    <mat-expansion-panel (opened)="openPanelEvent()" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{ index + 1 }}. {{ event.title | uppercase }}</mat-panel-title>
                            <mat-panel-description class="d-flex flex-grow-1 justify-content-end">
                                <mat-icon
                                    [class]="isRegistrationOpen(event.eventStartsIn) ? 'text-primary' : 'text-success'"
                                    [matTooltip]="
                                        isRegistrationOpen(event.eventStartsIn)
                                            ? 'Registration Open'
                                            : 'Event Mates Available'
                                    ">
                                    {{
                                        isRegistrationOpen(event.eventStartsIn)
                                            ? 'event_available'
                                            : 'published_with_changes'
                                    }}
                                </mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="d-flex flex-column gap-3">
                            <!-- Date -->
                            <div class="d-flex align-items-center gap-2">
                                <mat-icon color="primary">event</mat-icon>
                                <div class="mat-subtitle-2">
                                    {{ event.startDate | date : 'short' }}
                                </div>
                            </div>

                            <!-- Location -->
                            <div class="d-flex align-items-center gap-2">
                                <mat-icon color="primary">location_on</mat-icon>
                                <div class="mat-subtitle-2">{{ event.location }}</div>
                            </div>

                            <!-- Description -->
                            <div class="d-flex align-items-center gap-2">
                                <mat-icon color="primary">segment</mat-icon>
                                <div class="mat-body-2">{{ event.description }}</div>
                            </div>

                            <!-- Interests -->
                            <div class="d-flex align-items-center gap-2">
                                <mat-icon color="primary">interests</mat-icon>
                                <mat-chip-listbox (change)="onChangeInterest($event)">
                                    @if (getDomain(registration.domainId); as domain) { @for (interest of
                                    domain.interests; track $index) {

                                    <mat-chip-option
                                        color="primary"
                                        [value]="interest"
                                        [selectable]="isRegistrationOpen(event.eventStartsIn)"
                                        [selected]="registration.interests.includes(interest)">
                                        {{ interest }}
                                    </mat-chip-option>
                                    } }
                                </mat-chip-listbox>
                            </div>
                        </div>
                        <mat-action-row>
                            <button
                                mat-raised-button
                                color="accent"
                                (click)="cancelRegistration(registration._id, index)">
                                Cancel
                            </button>
                            @if (isRegistrationOpen(event.eventStartsIn)) {
                            <button
                                mat-raised-button
                                color="primary"
                                (click)="updateInterest(registration._id)"
                                [disabled]="!isInterestChanged">
                                Update
                            </button>
                            } @else {
                            <button
                                mat-raised-button
                                color="primary"
                                (click)="getEventmates(registration, event.eventStartsIn)">
                                Show Eventmates
                            </button>
                            }
                        </mat-action-row>
                    </mat-expansion-panel>
                    } } @empty {
                    <div class="alert alert-warning d-flex align-items-center gap-2" role="alert">
                        <mat-icon>error</mat-icon>
                        <div class="mat-body-2">
                            No registrations yet! Please
                            <a class="alert-link" [routerLink]="['/events']">click here</a> to view all events.
                        </div>
                    </div>
                    }
                </mat-accordion>
            </mat-card-content>
        </mat-card>
    </div>
</div>
}
