@if(currentUser){
<div class="my-4"></div>
<div class="row">
    <div class="col-lg-4">
        <div class="d-flex flex-column gap-4">
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle class="text-primary mat-headline-6">PROFILE INFORMATION</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex flex-column w-50">
                        <div class="d-flex align-items-center gap-2">
                            <div class="mat-subtitle-2">Username:</div>
                            <div class="mat-body-2">{{ currentUser.username }}</div>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                            <div class="mat-subtitle-2">Email:</div>
                            <div class="mat-body-2">{{ currentUser.email }}</div>
                        </div>
                        <div class="d-flex align-items-center gap-1">
                            <div class="mat-subtitle-2">Is Admin:</div>
                            <mat-icon [class]="[currentUser.isAdmin ? 'text-success' : 'text-danger']">{{
                                currentUser.isAdmin ? 'check_box' : 'disabled_by_default'
                            }}</mat-icon>
                        </div>
                    </div>
                </mat-card-content>
                <!-- <mat-card-actions align="end">
                    <button mat-button color="accent">UPDATE</button>
                </mat-card-actions> -->
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle class="text-primary mat-headline-6">FEEDBACKS</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    @if (feedbacks.length > 0) { @for (feedback of feedbacks; track $index) {
                    <div class="row">
                        <div class="col-md-4">{{ getEventTitleById(feedback.eventId) | titlecase }}</div>
                    </div>
                    } } @else {
                    <div class="alert alert-warning d-flex align-items-center gap-2" role="alert">
                        <mat-icon>error</mat-icon>
                        <div class="mat-body-2">No feedbacks yet!</div>
                    </div>
                    }
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="col-lg-8">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle class="text-primary mat-headline-6">REGISTRATIONS</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="my-2">
                @if(registrations.length > 0) {
                <mat-accordion>
                    @for (registration of registrations; track registration._id; let index = $index) {
                    @if(getEventById(registration.eventId); as event) {
                    <mat-expansion-panel (opened)="openPanelEvent()" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{ index + 1 }}. {{ event.title | uppercase }}</mat-panel-title>
                            <mat-panel-description class="d-flex flex-grow-1 justify-content-end">
                                <mat-icon
                                    [class]="event.isRegistrationClosed ? 'text-success' : 'text-primary'"
                                    [matTooltip]="
                                        event.isRegistrationClosed ? 'Event Mates Available' : 'Registration Open'
                                    ">
                                    {{ event.isRegistrationClosed ? 'published_with_changes' : 'event_available' }}
                                </mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="d-flex flex-column gap-3">
                            <!-- Date -->
                            <div class="d-flex align-items-center gap-2">
                                <mat-icon color="primary">event</mat-icon>
                                <div class="mat-subtitle-2">
                                    {{ event.startDate | date : 'short' }}
                                </div>
                            </div>

                            <!-- Location -->
                            <div class="d-flex align-items-center gap-2">
                                <mat-icon color="primary">location_on</mat-icon>
                                <div class="mat-subtitle-2">{{ event.location }}</div>
                            </div>

                            <!-- Description -->
                            <div class="d-flex align-items-center gap-2">
                                <mat-icon color="primary">segment</mat-icon>
                                <div class="mat-body-2">{{ event.description }}</div>
                            </div>

                            <!-- Interests -->
                            <div class="d-flex align-items-center gap-2">
                                <mat-icon color="primary">interests</mat-icon>
                                <mat-chip-listbox (change)="onChangeInterest($event)">
                                    @if (getDomainById(registration.domainId); as domain) { @for (interest of
                                    domain.interests; track $index) {

                                    <mat-chip-option
                                        color="primary"
                                        [value]="interest"
                                        [selectable]="!event.isRegistrationClosed"
                                        [selected]="registration.interests.includes(interest)">
                                        {{ interest }}
                                    </mat-chip-option>
                                    } }
                                </mat-chip-listbox>
                            </div>
                        </div>
                        <mat-action-row>
                            <button
                                mat-raised-button
                                color="accent"
                                (click)="unRegisterForEvent(registration._id, index)">
                                Cancel
                            </button>
                            @if (!event.isRegistrationClosed) {
                            <button
                                mat-raised-button
                                color="primary"
                                (click)="updateInterest(registration._id)"
                                [disabled]="!isInterestChanged">
                                Update
                            </button>
                            } @if (event.isRegistrationClosed) {
                            <button
                                mat-raised-button
                                color="primary"
                                (click)="getRecommendations(registration.eventId, registration.interests)">
                                Get Recommended Connections
                            </button>
                            }
                        </mat-action-row>
                    </mat-expansion-panel>
                    } }
                </mat-accordion>
                } @else {
                <div class="alert alert-warning d-flex align-items-center gap-2" role="alert">
                    <mat-icon>error</mat-icon>
                    <div class="mat-body-2">
                        No registrations yet! Please <a class="alert-link" [routerLink]="['/events']">click here</a> to
                        view all events.
                    </div>
                </div>
                }
            </mat-card-content>
        </mat-card>
    </div>
</div>
}
