@if(currentUser){
<h2 class="mb-4">Profile Information</h2>

<div class="card w-75">
    <div class="card-body">
        <div class="card-text">Username: {{ currentUser.username | titlecase }}</div>
        <div class="card-text">Email: {{ currentUser.email }}</div>
        <div class="d-flex align-items-center">
            <div class="card-text">Is Admin:</div>
            <mat-checkbox [checked]="currentUser.isAdmin" disabled></mat-checkbox>
            <div class="card-text">{{ currentUser.isAdmin ? 'Yes' : 'No' }}</div>
        </div>

        <h2>Events Registered:</h2>
        @if(registrations.length > 0) {
        <mat-accordion>
            @for (registration of registrations; track registration._id; let index = $index) {
            <mat-expansion-panel *ngIf="getEventById(registration.eventId) as event">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ index + 1 }}. {{ event.title }}</mat-panel-title>
                    <mat-panel-description class="d-flex flex-grow-1 justify-content-end">
                        {{ event.date | date }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="d-flex flex-column gap-1">
                    <div class="card-text">{{ event.description }}</div>
                    <div class="d-flex flex-column">
                        <div class="fw-medium">Interests:</div>
                        <mat-chip-listbox>
                            @if (getDomainById(registration.domainId); as domain) { @for (interest of domain.interests;
                            track $index) {

                            <mat-chip-option color="primary" [selected]="registration.interests.includes(interest)">
                                {{ interest }}
                            </mat-chip-option>
                            }}
                        </mat-chip-listbox>
                    </div>
                </div>
                <mat-action-row>
                    <button mat-raised-button color="accent" (click)="cancelRegistration(registration._id, index)">
                        Cancel
                    </button>
                    <button mat-raised-button color="primary" (click)="updateInterest()" disabled>Update</button>
                </mat-action-row>
            </mat-expansion-panel>
            }
        </mat-accordion>
        } @else {
        <p class="card-text">No registrations yet!</p>
        }
    </div>
</div>
}
