<form [formGroup]="eventForm" class="d-flex flex-column gap-3">
    <mat-form-field>
        <mat-label>Image</mat-label>
        <mat-icon color="primary" matIconPrefix>wallpaper</mat-icon>
        <input type="text" matInput formControlName="image" autocomplete="off" placeholder="Enter event image" />
        <mat-error>This is a required field</mat-error>
    </mat-form-field>

    <div class="row">
        <mat-form-field class="col-6">
            <mat-label>Title</mat-label>
            <mat-icon matIconPrefix color="primary">title</mat-icon>
            <input type="text" matInput formControlName="title" autocomplete="off" placeholder="Enter event title" />
            <mat-error>This is a required field</mat-error>
        </mat-form-field>

        <mat-form-field class="col-6">
            <mat-label>Location</mat-label>
            <mat-icon matIconPrefix color="primary">location_on</mat-icon>
            <input
                type="text"
                matInput
                formControlName="location"
                autocomplete="off"
                placeholder="Enter event location" />
            <mat-error>This is a required field</mat-error>
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <mat-icon matIconPrefix color="primary">description</mat-icon>
        <textarea matInput formControlName="description" autocomplete="off" placeholder="Enter event description">
        </textarea>
        <mat-error>This is a required field</mat-error>
    </mat-form-field>

    <div class="row">
        <mat-form-field class="col-3">
            <mat-label>Start Date</mat-label>
            <input
                matInput
                autocomplete="off"
                formControlName="startDate"
                [matDatepicker]="startDatePicker"
                placeholder="Enter event date" />
            <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error>This is a required field</mat-error>
        </mat-form-field>

        <mat-form-field class="col-3">
            <mat-label>Start Time</mat-label>
            <mat-icon matIconPrefix color="primary">schedule</mat-icon>
            <input
                matInput
                type="time"
                autocomplete="off"
                [(ngModel)]="startTime"
                placeholder="Enter event start-time"
                [ngModelOptions]="{ standalone: true }" />
            <mat-hint>HH:mm</mat-hint>
            <mat-error>This is a required field</mat-error>
        </mat-form-field>

        <mat-form-field class="col-3">
            <mat-label>End Date</mat-label>
            <input
                matInput
                autocomplete="off"
                formControlName="endDate"
                [matDatepicker]="enddatePicker"
                placeholder="Enter event date" />
            <mat-datepicker-toggle matIconSuffix [for]="enddatePicker"></mat-datepicker-toggle>
            <mat-datepicker #enddatePicker></mat-datepicker>
            <mat-error>This is a required field</mat-error>
        </mat-form-field>

        <mat-form-field class="col-3">
            <mat-label>End Time</mat-label>
            <mat-icon matIconPrefix color="primary">av_timer</mat-icon>
            <input
                matInput
                type="time"
                autocomplete="off"
                [(ngModel)]="endTime"
                placeholder="Enter event start-time"
                [ngModelOptions]="{ standalone: true }" />
            <mat-hint>HH:mm</mat-hint>
            <mat-error>This is a required field</mat-error>
        </mat-form-field>
    </div>

    <mat-radio-group color="primary" formControlName="domainId" aria-label="Chose domain">
        <label class="mat-subtitle-2">Domain: </label>
        @for (domain of domains; track domain._id) {
        <mat-radio-button [value]="domain._id">{{ domain.name }}</mat-radio-button>
        }
    </mat-radio-group>

    <mat-chip-set>
        @for (interest of getDomainInterests(eventForm.value.domainId); track interest) {
        <mat-chip color="primary" [value]="interest">{{ interest }}</mat-chip>
        }
    </mat-chip-set>

    <div class="d-flex">
        <button type="submit" mat-raised-button color="primary" [disabled]="eventForm.invalid" (click)="saveEvent()">
            {{ isEditMode ? 'Update' : 'Create' }} Event
        </button>
    </div>
</form>
