<h2>Sign In</h2>
<form [formGroup]="signInForm" class="d-flex flex-column gap-2">
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" formControlName="email" autocomplete="off" />
        <mat-error>
            @if(signInForm.controls.email.hasError('required')){ This is a required field } @else { Please enter a valid
            email }
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input
            matInput
            name="password"
            autocomplete="off"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'" />
        <button matSuffix mat-icon-button (click)="showPassword = !showPassword">
            <mat-icon> @if(showPassword){ visibility } @else { visibility_off } </mat-icon>
        </button>
        <mat-error>
            @if(signInForm.controls.password.hasError('minlength')) { Password should have more than
            {{ signInForm.controls.password.getError('minlength').requiredLength }} characters } @else { This is a
            required field }
        </mat-error>
    </mat-form-field>
    <div class="d-flex justify-content-between align-items-center">
        <button mat-raised-button color="primary" type="submit" (click)="signIn()" [disabled]="signInForm.invalid">
            Sign In
        </button>
        <button type="button" mat-stroked-button routerLink="/auth/sign-up">Sign Up</button>
    </div>
</form>
