@if(event) {
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Register for Event</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="event.image" alt="{{ event.title }}" height="300" />
                <mat-card-content>
                    <h2 class="mb-3">{{ event.title }}</h2>
                    <p><strong>Description:</strong> {{ event.description }}</p>
                    <p><strong>Domain:</strong> {{ getDomainNameById(event.domainId) }}</p>
                    <p><strong>Location:</strong> {{ event.location }}</p>
                    <p><strong>Date:</strong> {{ event.date | date : 'MMM d, y' }}</p>
                    <p><strong>Time:</strong> {{ event.startTime }} - {{ event.endTime }}</p>

                    <div class="d-flex align-items-center gap-1 mb-1">
                        <h4 class="fw-medium my-0">Select your Interest</h4>
                        <mat-icon matTooltip="Please chose your interest to proceed with registration.">info</mat-icon>
                    </div>
                    <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
                        @for (interest of getDomainInterestsById(event.domainId); track interest) {
                        <mat-chip-option [value]="interest" (selectionChange)="onSelectInterest($event)">
                            {{ interest }}
                        </mat-chip-option>
                        }
                    </mat-chip-listbox>
                </mat-card-content>
                <mat-card-actions>
                    <button
                        mat-raised-button
                        color="primary"
                        (click)="registerForEvent()"
                        [disabled]="!selectedInterest">
                        Register
                    </button>
                    <button mat-button routerLink="/events">Cancel</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

}
