<div class="d-flex justify-content-between">
    <mat-form-field>
        <mat-label>Filter by domain</mat-label>
        <mat-select placeholder="Chose domain name" [formControl]="domainFilterControl">
            <mat-option [value]="null">All</mat-option>
            @for (domain of domains; track $index) {
            <mat-option [value]="domain._id">{{ domain.name }}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    @if (currentUser && currentUser.isAdmin) {
    <button
        color="primary"
        mat-raised-button
        class="d-flex align-items-center"
        [routerLink]="['/events', 'create-event']">
        <mat-icon>library_add</mat-icon>
        <span>Add Event</span>
    </button>
    }
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    @for (event of events; track event._id; let index = $index) {
    <div class="col">
        <mat-card class="event-card">
            <mat-card-header class="event-card__header">
                <mat-card-subtitle class="event-card__title">{{ event.title | uppercase }}</mat-card-subtitle>
                <div class="mat-caption">
                    Total Attendees:
                    <span class="fw-bold">
                        {{ getAttendeeCountByEventId(event._id) | number }}
                    </span>
                </div>
            </mat-card-header>
            <img mat-card-image [src]="event.image" alt="Event Image" />
            <mat-card-content class="event-card__content">
                <div class="d-flex flex-column gap-2">
                    <!-- Domain -->
                    <div class="d-flex align-items-center gap-1">
                        <mat-icon color="primary">tag</mat-icon>
                        <div class="mat-subtitle-2 text-warning-emphasis">
                            {{ getDomainName(event.domainId) }}
                        </div>
                    </div>

                    <!-- Date -->
                    <div class="d-flex align-items-center gap-1">
                        <mat-icon color="primary">event</mat-icon>
                        <div class="d-flex align-items-center justify-content-start gap-2">
                            <div class="mat-subtitle-2">
                                {{ event.startDate | date : 'short' }}
                            </div>
                            @if ([1,2].includes(event.eventStartsIn)) {
                            <mat-icon
                                color="accent"
                                matTooltip="Event starts in {{ event.eventStartsIn }} {{
                                    event.eventStartsIn === 1 ? 'day' : 'days'
                                }}">
                                notifications_active
                            </mat-icon>
                            }
                        </div>
                    </div>

                    <!-- Location -->
                    <div class="d-flex align-items-center gap-1">
                        <mat-icon color="primary">location_on</mat-icon>
                        <div class="mat-subtitle-2">{{ event.location }}</div>
                    </div>

                    <!-- Description -->
                    <div class="row">
                        <div class="col-md-1">
                            <mat-icon color="primary">segment</mat-icon>
                        </div>
                        <div class="col-md-11">
                            <div class="mat-body-2">{{ event.description }}</div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            @if (currentUser) {
            <mat-card-actions class="event-card__actions">
                <!--
                    If the user is the creator of the event, show CTA buttons to edit and delete the event
                 -->
                @if (event.creatorId === currentUser._id) {
                <div class="d-flex">
                    <button
                        mat-icon-button
                        color="primary"
                        [routerLink]="['/events', 'edit', event._id]"
                        matTooltip="Update Event">
                        <mat-icon>edit_calendar</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        color="warn"
                        (click)="deleteEvent(event._id, index)"
                        matTooltip="Cancel Event">
                        <mat-icon>delete_sweep</mat-icon>
                    </button>
                </div>
                <!-- If the user is not the creator of the event -->
                } @else {
                <!-- If the user has already registered for the event -->
                @if (hasUserRegistered(event._id)) {
                <!-- If the event start date is in the future -->
                @if (event.eventStartsIn >= 0) {
                <button mat-icon-button color="primary" matTooltip="Registered">
                    <mat-icon>event_available</mat-icon>
                </button>
                } @else {
                <!-- If the event start data is in the past -->
                @if (hasUserGivenFeedback(event._id)) {
                <button mat-button color="primary">EVENT COMPLETED</button>

                } @else {
                <button mat-button color="accent">FEEDBACK AVAILABLE</button>
                } }
                <!-- If the user has not registed for the event -->
                } @else {
                <!-- If the event start date is in the future -->
                @if(event.eventStartsIn >= 0) {
                <button
                    mat-raised-button
                    color="primary"
                    class="d-flex align-items-center"
                    (click)="registerEvent(event._id)">
                    <mat-icon>app_registration</mat-icon>
                    Register
                </button>
                <!-- If the event start date is in the past -->
                } @else {
                <button mat-button color="primary">EVENT COMPLETED</button>
                } } }
            </mat-card-actions>
            }
        </mat-card>
    </div>
    }
</div>

@if (events.length === 0) {
<div class="text-center mt-4">
    <p>No events found.</p>
</div>
}
