<div class="d-flex justify-content-between">
    <div class="mat-headline-5">Upcoming Events</div>
    @if (currentUser && currentUser.isAdmin) {
    <button
        color="primary"
        mat-raised-button
        class="d-flex align-items-center"
        [routerLink]="['/events', 'create-event']">
        <mat-icon>library_add</mat-icon>
        <span>Add Event</span>
    </button>
    }
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    @for (event of events; track event._id; let index = $index) {
    <div class="col">
        <mat-card class="event-card">
            <mat-card-header class="event-card__header">
                <mat-card-subtitle class="event-card__title">{{ event.title | uppercase }}</mat-card-subtitle>
                <div class="mat-caption">Event created by {{ getUsernameById(event.creatorId) }}</div>
            </mat-card-header>
            <img mat-card-image [src]="event.image" alt="Event Image" />
            <mat-card-content class="event-card__content">
                <div class="d-flex flex-column">
                    <!-- Domain -->
                    <div class="d-flex my-1 justify-content-between">
                        <div
                            matTooltip="Domain"
                            class="d-flex align-items-center px-2 bg-warning-subtle border border-warning rounded">
                            <mat-icon>tag</mat-icon>
                            <div class="mat-subtitle-2 text-warning-emphasis">
                                {{ getDomainNameById(event.domainId) }}
                            </div>
                        </div>
                        <div
                            matTooltip="Total Attendance"
                            class="d-flex align-items-center px-2 gap-2 bg-warning-subtle border border-warning rounded">
                            <mat-icon color="primary">groups</mat-icon>
                            <div class="mat-subtitle-2 text-warning-emphasis">
                                {{ getAttendeeCountByEventId(event._id) | number }}
                            </div>
                        </div>
                    </div>

                    <!-- Date and Time -->
                    <div class="row my-1">
                        <div class="col-md-1">
                            <mat-icon color="primary">event</mat-icon>
                        </div>
                        <div class="col-md-11">
                            <div class="d-flex align-items-center justify-content-start gap-2">
                                <div class="mat-subtitle-2">
                                    {{ event.date | date : 'fullDate' }}
                                </div>
                                @if (event.registrationClosesIn <= 1) {
                                <mat-icon
                                    color="accent"
                                    [matTooltip]="'Registration closes in ' + event.registrationClosesIn + ' day!'">
                                    notifications_active
                                </mat-icon>
                                }
                            </div>
                        </div>
                    </div>

                    <!-- Time -->
                    <div class="row my-1">
                        <div class="col-md-1">
                            <mat-icon color="primary">schedule</mat-icon>
                        </div>
                        <div class="col-md-11">
                            <div class="mat-subtitle-2">{{ event.startTime }} - {{ event.endTime }}</div>
                        </div>
                    </div>

                    <!-- Location -->
                    <div class="row my-1">
                        <div class="col-md-1">
                            <mat-icon color="primary">location_on</mat-icon>
                        </div>
                        <div class="col-md-11">
                            <div class="mat-subtitle-2">{{ event.location }}</div>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="row my-1">
                        <div class="col-md-1">
                            <mat-icon color="primary">segment</mat-icon>
                        </div>
                        <div class="col-md-11">
                            <div class="mat-body-2">{{ event.description }}</div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            @if (currentUser) {
            <mat-card-actions class="event-card__actions">
                <!--
                    Button to show if the user has already registered for the event
                    Show this if the current user has registered for the event
                 -->
                @if (hasUserRegistered(event._id)) {
                <button mat-icon-button color="primary" matTooltip="Registered">
                    <mat-icon>event_available</mat-icon>
                </button>
                }

                <!--
                    Button to register for an event
                    Show this if the user is not registered for the event and is not the admin for the event
                 -->
                @if (!hasUserRegistered(event._id) && currentUser._id !== event.creatorId) {
                <button
                    mat-raised-button
                    color="primary"
                    class="d-flex align-items-center"
                    (click)="registerEvent(event._id)">
                    <mat-icon>app_registration</mat-icon>
                    Register
                </button>
                }

                <!--
                    Buttons to edit and cancel the event
                    Show these buttons to the admin users of the event
                 -->
                @if (currentUser._id === event.creatorId) {
                <div class="d-flex">
                    <button
                        mat-icon-button
                        color="primary"
                        [routerLink]="['/events', 'edit', event._id]"
                        matTooltip="Update Event">
                        <mat-icon>edit_calendar</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        color="warn"
                        (click)="deleteEvent(event._id, index)"
                        matTooltip="Cancel Event">
                        <mat-icon>delete_sweep</mat-icon>
                    </button>
                </div>
                }
            </mat-card-actions>
            }
        </mat-card>
    </div>
    }
</div>

@if (events.length === 0) {
<div class="text-center mt-4">
    <p>No events found.</p>
</div>
}
